extends layout
block content
    .hero.is-shadow
        .hero-body
            .container
                .card
                    header.card-header.has-background-primary
                        p.card-header-title.has-text-lighter 
                            span.icon.is-medium
                                i.fas.fa-shield-alt.fas.fa-2x
                            span Seguridad e inicio de sesión
                    .card-content
                        .content
                            h4.subtitle Autenticación en dos pasos
                            ul
                                li 
                                    .field
                                        input.is-checkradio(type="checkbox", checked="checked", name="cbox-email", id="cbox-email", style="border: .1rem solid #00d1b2;border-color: #00d1b2!important;")
                                        label(for="cbox-email") Mediante correo electronico
                            //.buttons.has-addons.is-right
                            //    a.button.is-danger.is-small.is-disabled.is-rounded(href="") 
                            //        span.icon.has-text-white
                            //            i.fas.fa-save 
                            //        p  Actualizar
                            hr  