extends layout
block content
    .hero.is-shadow
        .hero-body
            .container
                .notification
                    //h1.title Bienvenido
                    
                    
                    article.message.is-info
                        .message-header
                            p Bienvenido
                        .message-body
                            h2.subtitle Ronaldo Quevedo
                            p 
                                strong Seguridad configurada
                            .content
                                ul
                                    li 
                                        .field
                                            input.switch.is-rtl(type="checkbox", checked="checked", name="checkbox", id="switchColorDefault")
                                            label(for="checkbox") Verificación por correo electronico
                            
                            

                    hr
                    .field.is-grouped
                        .control
                            a.button.is-danger(href="#") 
                                span.icon.has-text-white
                                    i.fas.fa-power-off 
                                p  Configurar
                        //.control
                        //    a.button.is-link save changes
                        //.control
                        //    a.button.is-link save changes
                
    