extends layout

block content
    .hero.is-shadow
        .hero-body
            .container
                .notification
                    h1.title Bienvenido
                    h2.subtitle Ronaldo Quevedo
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur possimus nulla eos sint velit maiores optio vitae eaque illum cupiditate. Doloribus impedit rerum porro incidunt quidem! Fuga dolore minima eius.
                    hr
                    .field.is-grouped
                        .control
                            a.button.is-danger(href="#") 
                                span.icon.has-text-white
                                    i.fas.fa-power-off 
                                p  Configurar
                        //.control
                        //    a.button.is-link save changes
                        //.control
                        //    a.button.is-link save changes
                
    