extends layout
block content
    .hero.is-shadow
        .hero-body
            .container
                .notification(style="background-color:#ffff;")
                    //h1.title Bienvenido
                    article.message.is-info
                        .message-header
                            p Bienvenido
                        .message-body
                            h2.subtitle #{fullname} || #{idUser}
                            p 
                                strong Configuraciones
                            .content
                                ul
                                    li 
                                        .field
                                            input.is-checkradio(type="checkbox", checked="checked", name="exampleCheckbox", id="exampleCheckbox", style="border: .1rem solid #00d1b2;border-color: #00d1b2!important;", onclick="this.checked = !this.checked")
                                            label(for="exampleCheckbox") Verificación por correo electronico

                    hr
                    .field.is-grouped
                        .control
                            a.button.is-danger(href="/config") 
                                span.icon.has-text-white
                                    i.fas.fa-power-off 
                                p  Configurar
                        //.control
                        //    a.button.is-link save changes
                        //.control
                        //    a.button.is-link save changes
                
    