doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title 2FAuth | LogIn
        link(rel='stylesheet', href='/public/css/bulma.min.css')
    body
        nav.navbar.has-shadow.is-primary(role="navigation", aria-label="main navigation")
            .container
        .hero
            .hero-body
                .container
                    .columns.is-centered.is-container
                        .column.is-6.is-half.is-paddingless
                            .box.is-paddingless
                                nav.level.has-background-light.has-shadow(style="padding:0.5em 0 0.5em 0;")
                                    .level-item.has-text-centered
                                        figure.image.is-48x48
                                            img(src="/public/img/logo3.png", width="35", height="35")
                                .content(style="text-align: center;")
                                    h2.subtitle.has-text-centered Iniciar Sesión
                                .content(style="padding-left: 1.5em; padding-right: 1.5em; padding-bottom: 1.5em;")
                                    form(action="")
                                        .field
                                            label.label(for="username") Usuario
                                            .field
                                                p.control.has-icons-left 
                                                    input.input.is-rounded(name="username", id="username", type="text",autofocus="autofocus")
                                                    span.icon.is-small.is-left
                                                        i.fas.fa-user
                                        .field
                                            label.label(for="password") Contraseña
                                            .field
                                                p.control.has-icons-left 
                                                    input.input.is-rounded(name="password", id="password", type="password")
                                                    span.icon.is-small.is-left
                                                        i.fas.fa-lock
                                        br
                                        .columns.is-centered.is-mobile
                                            .column.is-8.is-half.is-paddingless
                                                button.button.is-fullwidth.is-danger.is-rounded
                                                        span.icon
                                                            i.fas.fa-unlock-alt
                                                        span Ingresar
                                        hr
                                        article.message.is-info
                                            .message-body
                                                a.button.is-text(href="/signin") 
                                                    span.icon
                                                        i.fas.fa-users
                                                    span Crea tu usuario                     
        block scripts
            script(src='/public/js/jquery.js')
            script(src='/public/js/all.js')
            script(src='/public/js/script.js')
            